.card {
  max-width: 400px;
  margin: get($spacings, 'large') auto;
  padding: get($spacings, 'large');
  background-color: $c-white;
  border: 1px solid $c-border;
  border-radius: get($radii);
  box-shadow: get($shadows);

  &__title {
    text-align: center;
  }

  &__illustration {
    display: block;
    margin: get($spacings, 'large') auto 0;
  }
}
