$c-black: #000;
$c-white: #fff;
$c-malachite: #28c23e;
$c-alabaster: #fafafa;
$c-porcelain: #e5e8e8;
$c-navy: #222c3d;
$c-navy-dark: #1d2738;

$c-text: $c-navy;
$c-text-dark: $c-navy-dark;
$c-accent: $c-malachite;
$c-background: $c-alabaster;
$c-border: $c-porcelain;
