html {
  font-size: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $c-background;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  &:focus,
  &:active {
    outline: 0;
  }
}

button {
  @extend %font-default;

  font-size: get($font-sizes, 'small');
  cursor: pointer;
  background: none;

  &::-moz-focus-inner {
    border: 0;
  }
}

input,
textarea {
  @extend %font-default;

  box-sizing: border-box;
}
