%font-default {
  font-family: 'Noticia Text', sans-serif;
}

%font-text {
  @extend %font-default;

  font-size: get($font-sizes);
  font-weight: 400;
  line-height: 1.5;
  color: $c-text;
}

%font-heading {
  @extend %font-default;
  @extend %margin-clean;

  margin: 0 0 get($spacings, 'large');
  font-size: get($font-sizes, 'large');
  font-weight: get($font-weights, 'bold');
  line-height: 1.2;
  color: $c-text-dark;
}

body {
  @extend %font-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @extend %font-heading;
}

p {
  @extend %margin-clean;

  & + & {
    margin-bottom: get($spacings);
  }
}
